*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(#000000cc,rgba(0,0,0,0.8)),url(https://cdn.wallpapersafari.com/39/47/6CVjKs.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position:center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
	margin-right: 0%;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.nav-area li a:hover{
    background: #e42;
    color: #fff;
	border-radius: 20px;
}
.logo{
    float: left;
    margin-left: 10px;
}
.logo img{
    width: 100%;
    padding: 15px 0;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}
p{
	color: rgb(255, 255, 255);
	font-size: 14px;
}
.welcome-text a{
    border: 1px solid #e42;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #e42;
    font-family: italic;
}
.welcome-text a:hover{
    background: #e42;
    color: #ffffff;
}
img{
	height: 70px;
	width: 50px;
}

/*resposive*/

@media (max-width:600px){
    .wrapper {
width: 100%;
}
.logo {
float: none;
width: 50%;
text-align: center;
margin: auto;
}

.nav-area {
float: none;
margin-top: 0;
}
    .nav-area li a {
padding: 5px;
font-size: 11px;
}
.nav-area {
text-align: center;
}
    .welcome-text {
width: 100%;
height: auto;
margin: 30% 0;
}
    .welcome-text h1 {
font-size: 30px;
}
}
