<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paws & Claws: The Premier Pet Emporium</title>
	<link rel="stylesheet" href="about.css">
	<link rel="stylesheet" href="{{ url_for('static',     filename='css/about.css') }}">

</head>
<body>
	<header>
		<div class="wrapper">
			<div class="logo">
				<img src="https://i.postimg.cc/7PMDRR1j/logo-2.png" alt="">
			</div>
	<ul class="nav-area">
	<li><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('userlogin') }}">sign in</a></li>
	<li><a href="{{ url_for('merchantlogin') }}">Merchant's login</a></li>
	<li><a href="{{ url_for('contact') }}">Contact</a></li>
	</ul>
	</div>
	<div class="welcome-text">
			<h1><b>About Us</b></h1>
			<p> We are constantly working to improve and expand our platform, adding new features and incorporating feedback from our valued users. Our mission is to be your go-to destination for all things related to pets, providing a one-stop hub that enhances the lives of both you and your beloved companions.</p>
			
		</div>
	</header>
	
	
</body>
</html>